* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}
html {
    height: 100%;
    // overflow: hidden;
}
body {
    position: relative;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
ul {
    list-style: none;
}
img.orange {
    position: fixed;
    // top: -9vh;
    right: 0;
    z-index: -1;
    width: 55vw;
    height: 2400px;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 2rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    &.active {
        padding: 0.3rem 2rem;
        box-shadow: -6px -6px 16px #444;
        opacity: 0.9;
        transition: all 0.5s ease-in-out;
        .JHlogo {
            img {
                width: 60px;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}
.JHlogo {
    display: flex;
    // width: 100%;
    // height: 100%;
    img {
        width: 100px;
        transition: all 0.5s ease-in-out;
    }
}
nav {
    display: flex;
    // width: 100%;
    align-items: center;
    ul {
        width: 60%;
        display: flex;
        list-style-type: none;
        justify-content: start;
        gap: 5rem;
        li {
            a {
                display: block;
                width: max-content;
                font-size: 1.5rem;
                color: black;
                text-decoration: none;
            }
            a.active {
                color: #e08958;
            }
        }
    }
}
.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    background: none;
    padding: 0;
    margin: 10px;
    border: none;
    color: #000;
}
main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 150px;
}
section {
    padding: 2rem;
    &.left {
        flex: 3 1 50%;
        h1 {
            font-size: 4rem;
            color: #e08958;
        }
        p {
            font-size: 1.5rem;
            padding: 1rem 0;
        }
    }
    &.right {
        // display: flex;
        flex: 1 1 50%;
        position: relative;
    }
    &.table {
        flex: 3 1 500px;
        padding: 3rem;
        table {
            border-collapse: collapse;
            tr {
                position: relative;
                border-bottom: 2px solid gray;
                background: transparent;
                td {
                    padding: 2rem;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(
                        to right,
                        rgba(250, 182, 143, 0.5) 0%,
                        rgba(250, 182, 143, 0) 80%
                    );
                    opacity: 0;
                    transition: opacity 0.4s ease-in-out;
                    z-index: -1;
                }
                &:hover::after {
                    opacity: 1;
                }
            }
        }
    }
}



td.icon {
    img {
        width: 48px;
        height: 48px;
    }
}

section.picture {
    flex: 1 1 600px;
    position: relative;
    img {
        height: 100%;
    }
    div.orangeRect {
        width: 30vw;
        height: 50vw;
        background-color: #e08958;
        position: absolute;
        top: 70px;
        left: 60px;
        z-index: -1;
    }
}
section.form {
    flex: 1 1 600px;
    form {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0.5rem;
        div {
            margin: 0.5rem;
            label {
                font-size: 1.5rem;
            }
            input,
            textarea {
                background-color: #f9ac7f;
                color: #fff;
                font-size: 1.25rem;
                padding: 0.5rem 0.25rem;
                border: none;
                width: 80%;
                resize: none;
            }
            textarea {
                vertical-align: top;
            }
        }
        button {
            align-self: center;
            font-size: 1.5rem;
            border-radius: 0.75rem;
            padding: 0.75rem 1.5rem;
            border: none;
            background-color: #f9ac7f;
            color: #fff;
            cursor: pointer;
        }
    }
}
div.line {
    background-color: gray;
    width: 3px;
}
section.contact {
    flex: 1 1 500px;
    display: flex;
    align-items: center;
    padding: 2rem;
    div.content {
        h2 {
            margin: 1rem 0rem;
        }
    }
}

.myPic {
    position: fixed;
    z-index: 0;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    top: 50%;
    right: 25vw;
    transform: translateY(-50%);
    object-fit: cover;
    pointer-events: none;
}
footer {
    padding: 1rem;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    a {
        padding: 1rem;
        img {
            transition: all 0.2s ease-in-out;
        }
        &:hover {
            transition: all 0.2s ease-in-out;
            img {
                transform: translate(0px, -10px);
                transition: all 0.2s ease-in-out;
            }
        }
    }
}
/*scrollbar setting*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@media screen and (max-width: 1100px) {
    div.orange {
        opacity: 0.5;
    }
    // header {
    // }
    nav {
        ul {
            width: 100%;
            // flex-direction: column;
            li {
                padding: 1rem 0;
                // border-bottom: 2px solid gray;
            }
        }
    }
    main {
        flex-wrap: wrap-reverse;
        div.line {
            display: none;
        }
    }
    section.left {
        h1 {
            font-size: 3rem;
            color: black;
        }
    }
    section.right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        img {
            position: static;
            transform: none;
            width: 50vw;
            height: 50vw;
        }
    }
    section.picture {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 60vw;
        }
        div.orangeRect {
            display: none;
        }
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15vh;
        li {
            text-align: center;
        }
        a {
            padding: 0;
        }
        img {
            width: 50%;
        }
    }
}

@media screen and (max-width: 720px) {
    img {
        &.orange {
            width: 100vw;
            height: 200vh;
        }
    }
    nav {
        justify-content: right;
        ul {
            // display: flex; // 預設隱藏
            opacity: 0;
            flex-direction: column;
            background: #444;
            position: fixed; // 固定在畫面上
            top: 0;
            right: 0;
            height: 100vh; // 全螢幕高度
            width: 250px;
            max-width: 100%;
            padding: 1rem;
            z-index: 999;
            transform: translateX(250px);
            transition: all 0.5s ease-in-out;
            gap: 0.5rem;
            li {
                justify-items: right;
                a {
                    color: #f9ac7f;
                }
            }
        }

        ul.show {
            display: flex; // 加上 show class 時顯示
            opacity: 1;
            transform: translateX(0);
            transition: all 0.6s ease-in-out;
        }
    }
    .menu-toggle {
        display: block;
        padding: 1rem;
    }
    .menu-close {
        display: block;
        color: rgb(255, 239, 221);
    }
    section {
        &.right {
            img {
                width: 70vw;
                height: 70vw;
            }
        }
        &.table {
            padding: 1rem;
        }
    }
}
