* {
    font-family: 'Noto Sans TC', sans-serif;
}
html {
    height: 100%;
}
body {
    position: relative;
    color: var(--color-primary-500, #000000);
}
a {
    transition: all 0.2s ease-in-out;
}

#app {
    height: 100%;
    // overflow: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.theme-selector-popover {
    position: absolute;
    top: 100%;
    margin-top: 8px;
    width: auto;
    padding: 16px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dark {
    background-color: #363636;
    color: var(--color-primary-500, #f1f1f1);
    &.theme-default {
        color: var(--color-primary-500, #f1f1f1);
    }
    header {
        background-color: #363636;
        &.active {
            box-shadow: -6px -6px 16px rgba(0, 0, 0, 1);
            opacity: 0.9;
        }
    }
    .theme-selector-popover {
        background-color: #434343;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    }
}
.color-theme {
    &:active {
        transform: scale(1.3);
    }
}
.theme-orange {
    .mask {
        background-color: var(--color-primary-500, #e08958);
    }
    header {
        border-bottom: var(--color-primary-500, #e08958) 1px solid;
        &.active {
            box-shadow: -6px -6px 16px #e08958;
        }
    }
    a,
    button {
        &:hover {
            color: var(--color-primary-500, #e08958);
        }
    }
    .progress-bar {
        background-color: var(--color-primary-500, #e08958);
    }
}
.theme-blue {
    .mask {
        background-color: var(--color-primary-500, #6595ff);
    }
    header {
        border-bottom: var(--color-primary-500, #6595ff) 1px solid;
        &.active {
            box-shadow: -6px -6px 16px #6595ff;
        }
    }
    a,
    button {
        &:hover {
            color: var(--color-primary-500, #6595ff);
        }
    }
    .progress-bar {
        background-color: var(--color-primary-500, #6595ff);
    }
}
.theme-green {
    .mask {
        background-color: var(--color-primary-500, #0dbe33);
    }
    header {
        border-bottom: var(--color-primary-500, #0dbe33) 1px solid;
        &.active {
            box-shadow: -6px -6px 16px #0dbe33;
        }
    }
    a,
    button {
        &:hover {
            color: var(--color-primary-500, #0dbe33);
        }
    }
    .progress-bar {
        background-color: var(--color-primary-500, #0dbe33);
    }
}
.theme-red {
    .mask {
        background-color: var(--color-primary-500, #ff5c5f);
    }
    header {
        border-bottom: var(--color-primary-500, #ff5c5f) 1px solid;
        &.active {
            box-shadow: -6px -6px 16px #ff5c5f;
        }
    }
    a,
    button {
        &:hover {
            color: var(--color-primary-500, #ff5c5f);
        }
    }
    .progress-bar {
        background-color: var(--color-primary-500, #ff5c5f);
    }
}

.toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 2rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    &.active {
        padding: 0.3rem 2rem;
        box-shadow: -6px -6px 16px #444;
        opacity: 0.9;
        transition: all 0.5s ease-in-out;
        .JHlogo {
            transform: scale(0.75);
            transition: all 0.2s ease-in-out;
        }
    }
}
.JHlogo {
    display: flex;
    transition: all 0.2s ease-in-out;
}
nav {
    display: flex;
    // width: 100%;
    align-items: center;
    ul {
        display: flex;
        list-style-type: none;
        justify-content: start;
        gap: 5rem;
        li {
            a {
                display: block;
                width: max-content;
                font-size: 1.5rem;
                text-decoration: none;
            }
            a.active {
                color: #e08958;
            }
        }
    }
}
.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    background: none;
    padding: 0;
    margin: 10px;
    border: none;
    color: #000;
}
main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
section {
    padding: 2rem;
    &.left {
        flex: 3 1 50%;
        h1 {
            font-size: 4rem;
            color: #e08958;
        }
        p {
            font-size: 1.5rem;
            padding: 1rem 0;
        }
    }
    &.right {
        // display: flex;
        flex: 1 1 50%;
        position: relative;
    }
    &.table {
        flex: 3 1 500px;
        padding: 3rem;
        table {
            border-collapse: collapse;
            tr {
                position: relative;
                border-bottom: 2px solid gray;
                background: transparent;
                td {
                    padding: 2rem;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(
                        to right,
                        rgba(250, 182, 143, 0.5) 0%,
                        rgba(250, 182, 143, 0) 80%
                    );
                    opacity: 0;
                    transition: opacity 0.4s ease-in-out;
                    z-index: -1;
                }
                &:hover::after {
                    opacity: 1;
                }
            }
        }
    }
}

td.icon {
    img {
        width: 48px;
        height: 48px;
    }
}

section.picture {
    flex: 1 1 600px;
    position: relative;
    img {
        height: 100%;
    }
    div.orangeRect {
        width: 30vw;
        height: 50vw;
        background-color: #e08958;
        position: absolute;
        top: 70px;
        left: 60px;
        z-index: -1;
    }
}
section.form {
    flex: 1 1 600px;
    form {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0.5rem;
        div {
            margin: 0.5rem;
            label {
                font-size: 1.5rem;
            }
            input,
            textarea {
                background-color: #f9ac7f;
                color: #fff;
                font-size: 1.25rem;
                padding: 0.5rem 0.25rem;
                border: none;
                width: 80%;
                resize: none;
            }
            textarea {
                vertical-align: top;
            }
        }
        button {
            align-self: center;
            font-size: 1.5rem;
            border-radius: 0.75rem;
            padding: 0.75rem 1.5rem;
            border: none;
            background-color: #f9ac7f;
            color: #fff;
            cursor: pointer;
        }
    }
}
div.line {
    background-color: gray;
    width: 3px;
}
section.contact {
    flex: 1 1 500px;
    display: flex;
    align-items: center;
    padding: 2rem;
    div.content {
        h2 {
            margin: 1rem 0rem;
        }
    }
}

.myPic {
    position: fixed;
    z-index: 0;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    top: 50%;
    right: 25vw;
    transform: translateY(-50%);
    object-fit: cover;
    pointer-events: none;
}
footer {
    a {
        padding: 1rem;
        img {
            transition: all 0.2s ease-in-out;
        }
        &:hover {
            transition: all 0.2s ease-in-out;
            img {
                transform: translate(0px, -10px);
                transition: all 0.2s ease-in-out;
            }
        }
    }
}
.width20 {
    width: 20%;
}
.width80 {
    width: 80%;
}
/*scrollbar setting*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@media screen and (max-width: 1100px) {
    div.orange {
        opacity: 0.5;
    }
    // header {
    // }
    nav {
        ul {
            width: 100%;
            // flex-direction: column;
            li {
                padding: 1rem 0;
                // border-bottom: 2px solid gray;
            }
        }
    }
    main {
        flex-wrap: wrap-reverse;
        div.line {
            display: none;
        }
    }
    section.left {
        h1 {
            font-size: 3rem;
            color: black;
        }
    }
    section.right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        img {
            position: static;
            transform: none;
            width: 50vw;
            height: 50vw;
        }
    }
    section.picture {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 60vw;
        }
        div.orangeRect {
            display: none;
        }
    }
    footer {
        margin-bottom: 15vh;
        li {
            text-align: center;
        }
        img {
            width: 40px;
        }
    }
}

@media screen and (max-width: 720px) {
    img {
        &.orange {
            width: 100vw;
            height: 200vh;
        }
    }
    nav {
        justify-content: right;
        opacity: 0;
        flex-direction: column;
        background: #444;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        max-width: 100%;
        z-index: 999;
        transform: translateX(250px);
        transition: all 0.5s ease-in-out;
        ul {
            display: flex;
            padding: 1rem;
            gap: 0.5rem;
            li {
                justify-items: right;
                a {
                    color: #f9ac7f;
                }
            }
        }

        &.show {
            display: flex;
            opacity: 1;
            transform: translateX(0);
            transition: all 0.6s ease-in-out;
        }
    }
    .menu-toggle {
        display: block;
        padding: 1rem;
    }
    .menu-close {
        display: block;
        color: rgb(255, 239, 221);
        margin-left: auto;
    }
    section {
        &.right {
            img {
                width: 70vw;
                height: 70vw;
            }
        }
        &.table {
            padding: 1rem;
        }
    }
}
